
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Digital Fortress</title>
<script type="text/javascript" src="/static/js/jquery-1.10.1.min.js"></script>
<link href="/static/css/fp-style.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/static/js/fp-script.js"></script>
</head>

<body>
	<div class="contentA">
    	<div class="intro" style="margin-top:0px;">
    	<h1>Digital Fortress</h1>
            <p>The Technical Treasure Hunt at <br /><span style="font-size:40px">Mukti 2014</span></p>

            <div class="rules_bt"><p class="bttn_txt">Rules</p></div> <div class="prizes_bt"><p class="bttn_txt">Prizes</p></div>
			
			<div >			<a href = "/authorize">
<img style="padding-top:20px" src="/static/imgs/fblogin.png" alt="HTML tutorial"></a></div> 
        </div>
    </div>
    <div class="contentB">
    	<div class="rules_cont">
        	<svg height="100" width="60" style="float:left">
  				<circle cx="20" cy="80" r="10" stroke="white" stroke-width="1" fill="transparent" />
			</svg>
            <h1>Rules</h1>
            <ul>
           
           <li>You  will be facing several challenging levels. The answer to a level may be a single word, multi-word or digits.</li>
           
            <li>Make sure that you type in all the answers in lowercase characters without any space between the words.</li>
            <li>You will need to exploit the built-in programming language libraries in order to find the answers to some of the questions.</li>
            <li>Try to correlate the hints provided in the title, slug, image and the page source to find your way to the answer.</li>
            <li>Stay in touch with our official hint page which may help you in case you get stuck on any of the levels. </li>
            </ul>       
            <a style="text-decoration:none;color:white" href="/privacypolicy/" > Privacy policy </a>
        </div>
    </div>
    <div class="contentC">
    <div class="rules_cont">
        	<svg height="100" width="60" style="float:left">
  				<circle cx="20" cy="80" r="10" stroke="#0EB482" stroke-width="1" fill="transparent" />
			</svg>
            <h1 style="color:#0EB482">Prizes</h1>
            <p style="color:black">7000 bucks is up for grabs!!</p>
        
        </div>
    </div>

</body>
</html>
